@keyframes animate-cart-view {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.5rem);
  }
}

@keyframes animate-arrow-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.5rem);
  }
}

@keyframes animate-show-modal {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
